.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    font-size: 20px;
}
.cart{
    border: 1px solid ;
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}