*{
    margin: 0;
}
nav{
    height: 4vh;
    background: #D9D9D9;;
}
main{
    display: flex;
    height: 74vh;
}
section{
    background: #A4A4A4;
    width: 60vw;
}

.aside1{
    background: #7F7A7A;
    height: 40vh;
    width: 40vw;
}
.aside2{
    height: 34vh;
    background: #615050;
    width: 40vw;
}
.footer1{
    height: 10vh;
    background: #D9D9D9;
}
.footer2{
    height: 12vh;
    background: #AFA9A9;
}