@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: Inter, sans-serif;
    padding: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
}
.item{
    width: 271px;
}
.item img{
    width: 140px;
}
.item h2{
    color: #161543;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin: 20px 0 10px 0;
}
.item p{
    color: #7687A1;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

}
