.list1>ul>li:nth-child(even){
    color: #e7a0ad;
}
.list2>ul>li:nth-child(odd){
  font-size: 22px;
}
.list3>ul>li:nth-child(2n+4)::after{
    content: '!';
}
.list4>ul>li:last-of-type{
    color: purple;
}
.list5>ul>li::first-letter{
    color: red;
    font-size: 30px;
}